
body {
    margin: 100px;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2c445b;
    background-color: #e7f0e7EA;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:
}

.col-md-auto{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
color: #6B8EC3;
font-size: 60px;
justify-content: center;
}


.form-horizontal{ 
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: normal;
color: #6B8EC3;
font-size: 20px;

}
